openapi: 3.0.0

info:
  version: '1.0'
  title: 'LBAW ERASMUPS Web API'
  description: 'Web Resources Specification (A7) for ERASMUPS'

servers:
  - url: http://lbaw-prod.fe.up.pt
    description: Production server

externalDocs:
  description: Find more info here.
  url: https://git.fe.up.pt/lbaw/lbaw2021/lbaw2164/-/wikis/eap

tags:
  - name: 'M01: Authentication'
  - name: 'M02: Individual Profile'
  - name: 'M03: Questions, Answers, Comments'
  - name: 'M04: Reports'
  - name: 'M05: Mod Applications'
  - name: 'M06: Mods Dashboard'
  - name: 'M07: Static Pages'

paths:  

  /login:  
      get:
          operationId: R101  
          summary: 'R101: Login Form' 
          description: 'Provide login form. Acess: PUB'  
          tags:  
              - 'M01: Authentication'
          responses:  
              '200':
                  description: 'Ok. Show [UI12](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2164/-/wikis/er#ui12-sign-in)'
      post:  
          operationId: R102  
          summary: 'R102: Login Action'  
          description: 'Processes the login form submission. Acess: PUB'
          tags:  
              - 'M01: Authentication'
          requestBody:
              required: true
              content:
                        application/x-www-form-urlencoded:
                            schema:
                                type: object
                                properties:
                                    username:
                                        type: string
                                    password:
                                        type: string
                                required:
                                   - username
                                   - password
          responses:  
              '302':
                  description: 'Redirect after processing the login credentials.'
                  headers:
                      location:
                          schema:
                              type: string
                          examples:
                              302Success:
                                  description: 'Successful authentication. Redirect to questions.'
                                  value: '/questions'
                              302Error:
                                  description: 'Failed authentication. Redirect to login form.'
                                  value: '/login'

  /login/reset:  
      get:
          operationId: R102  
          summary: 'R102: Request Password Reset Form' 
          description: 'Provide Request Password Reset form. Acess: PUB'  
          tags:  
              - 'M01: Authentication'
          responses:  
              '200':
                  description: 'Ok. Show [UI12](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2164/-/wikis/er#ui12-sign-in)'
      post:  
          operationId: R103  
          summary: 'R103: Request Password Reset Token'  
          description: 'Processes the Request Password Reset and sends email with token. Acess: PUB'
          tags:  
              - 'M01: Authentication'
          requestBody:
              required: true
              content:
                        application/x-www-form-urlencoded:
                            schema:
                                type: object
                                properties:
                                    email:
                                        type: string
                                required:
                                   - email
          responses:  
              '302':
                  description: 'Redirect after processing the request password reset token.'
                  headers:
                      location:
                          schema:
                              type: string
                          examples:
                              302Success:
                                  description: 'Successfully sent email for password recovery. Redirect to Request Password Reset Form.'
                                  value: '/login/reset'
                              302Error:
                                  description: 'Failed to process the password recovery. Redirect to Request Password Reset Form.'
                                  value: '/login/reset'

  /login/reset/submit:  
      get:
          operationId: R103  
          summary: 'R103: Password Reset Form' 
          description: 'Provide Password Reset form. Acess: PUB'  
          tags:  
              - 'M01: Authentication'
          requestBody:
              required: true
              content:
                        application/x-www-form-urlencoded:
                            schema:
                                type: object
                                properties:
                                    token:
                                        type: string
                                required:
                                   - token
          responses:  
              '200':
                  description: 'Ok. Show [UI12](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2164/-/wikis/er#ui12-sign-in)'
      post:  
          operationId: R104  
          summary: 'R104: Reset Password'  
          description: 'Send reset password form. Acess: PUB'
          tags:  
              - 'M01: Authentication'
          requestBody:
              required: true
              content:
                        application/x-www-form-urlencoded:
                            schema:
                                type: object
                                properties:
                                    email:
                                        type: string
                                    password:
                                        type: string
                                    confirm_password:
                                        type: string
                                required:
                                   - email
                                   - password
                                   - confirm_password
          responses:  
              '302':
                  description: 'Redirect after processing the request password reset token.'
                  headers:
                      location:
                          schema:
                              type: string
                          examples:
                              302Success:
                                  description: 'Successfully reseted password. Redirect to Login.'
                                  value: '/login'
                              302Error:
                                  description: 'Failed to process the password recovery. Redirect to Password Reset Form.'
                                  value: '/login/reset/submit'


  /logout:  
      post:  
          operationId: R105
          summary: 'R105: Logout Action'
          description: 'Logout the current authenticated used. Access: USR'
          tags:
              - 'M01: Authentication'
          responses:
              '302':
                  description: 'Redirect after processing logout.'
                  headers:
                      Location:
                          schema:
                              type: string
                          examples:
                              302Success:
                                  description: 'Successful logout. Redirect to login form.'
                                  value: '/aboutUs'
                              302Failure:
                                  description: 'Failed to logout. Redirect to aboutUs page.'
                                  value: '/aboutUs'

  /register:  
      get:  
          operationId: R106
          summary: 'R106: Register Form'
          description: 'Provide new user registration form. Access: PUB'
          tags:
              - 'M01: Authentication'
          responses:
              '200':
                  description: 'Ok. Show [UI02](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2164/-/wikis/er#ui02-qas)'
      post:  
          operationId: R107
          summary: 'R107: Register Action'
          description: 'Processes the new user registration form submission. Access: PUB'
          tags:
              - 'M01: Authentication'
          requestBody:
              required: true
              content:
                       application/x-www-form-urlencoded:
                            schema:
                                type: object
                                properties:
                                    name:
                                        type: string
                                    username:
                                        type: string
                                    email:
                                        type: string
                                    password:
                                        type: string
                                    confirmPassword:
                                        type: string
                                    birthday:
                                        type: date
                                    country:
                                        type: string
                                    erasmus_in_out:
                                        type: string
                                required:
                                    - name
                                    - username
                                    - email
                                    - password
                                    - confirmPassword
                                    - birthday
          responses:
              '302':
                  description: 'Redirect after processing the new user information.'
                  headers:
                      Location:
                          schema:
                              type: string
                          examples:
                              302Success:
                                  description: 'Successful authentication. Redirect to questions.'
                                  value: '/questions'
                              302Failure:
                                  description: 'Failed authentication. Redirect to login form.'
                                  value: '/login'

  /user/{id}:   
      get:  
          operationId: R201
          summary: 'R201: View user profile'
          description: 'Show the individual profile of a user. Access: PUB'
          tags:
            - 'M02: Individual Profile'
          parameters:
            - in: path
              name: id
              schema:
                type: integer
              required: true
          responses:
            '200':
              description: 'Ok.'
              headers:
                  Location:
                      schema:
                          type:string 
                      examples:
                          200:
                              description: 'If(Access: OWN) -> Show [UI05](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2164/-/wikis/er#ui05-my-profile) Else -> Show [UI06](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2164/-/wikis/er#ui06-other-user-profile)'
      post:  
          operationId: R202
          summary: 'R202: Apply for Mod'
          description: 'Apply for Mod. Access: OWN'
          tags:
              - 'M02: Individual Profile'
          requestBody:
              required: true
              content:
                       application/json:
                           schema:
                               type: object
                               properties:
                                   id:
                                       type: int
                               required:
                                   - id
          responses:
              '302':
                  description: 'Redirect after applying to mod.'
                  headers:
                      Location:
                          schema:
                              type: string
                          examples:
                              302Success:
                                  description: 'Mod application done sucessfully. Redirect to user profile.'
                                  value: '/user/{id}'
                              302Failure:
                                  description: 'Failed to apply to Mod. Trust level might not be high enough. Redirect to user profile.'
                                  value: '/user/{id}' 

      delete:  
          operationId: R203
          summary: 'R203: Delete profile action'
          description: 'Delete authenticated user profile. Access: OWN'
          tags:
              - 'M02: Individual Profile'
          responses:
              '302':
                  description: 'Redirect after deleting user profile.'
                  headers:
                      Location:
                          schema:
                              type: string
                          examples:
                              302Success:
                                  description: 'Successful deleted. Redirect to login form.'
                                  value: '/login'

  /user/{id}/edit:  
      get:  
          operationId: R204
          summary: 'R204: View edit user profile'
          description: 'Show the page for the authenticated user edit his info. Access: OWN'
          tags:
              - 'M02: Individual Profile'
          responses:
              '200':
                  description: 'Ok. Show [UI07](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2164/-/wikis/er#ui07-edit-profile)'
      post:  
          operationId: R205
          summary: 'R205: Save user info'
          description: 'Processes the new user info to be saved. Access: OWN'
          tags:
              - 'M02: Individual Profile'
          requestBody:
              content:
                  application/x-www-form-urlencoded:
                      schema:
                          type: object
                          properties:
                              photo:
                                  type: string
                                  format: binary
                              username:
                                  type: string
                              name:
                                  type: string
                              email:
                                  type: string
                              password:
                                  type: string
                              bio:
                                  type: string
                              birthday:
                                  type: date
                              country:
                                  type: country
                              appMod:
                                  type: boolean
          responses:
              '302':
                  description: 'Redirect after processing the new user information.'
                  headers:
                      Location:
                          schema:
                              type: string
                          examples:
                              302Success:
                                  description: 'Successfully saved. Redirect to user profile.'
                                  value: '/user/{id}'
                              302Failure:
                                  description: 'Failed to save. Redirect to edit authenticated user profile.'
                                  value: '/user/{id}/edit'

  /user/{id}/reset_picture:  
        post:  
          operationId: R206
          summary: 'R206: Reset Profile Picture'
          description: 'Resets Profile Picture to the default. Access: OWN'
          tags:
              - 'M02: Individual Profile'
          responses:
              '302':
                  description: 'Redirect after processing the new user information.'
                  headers:
                      Location:
                          schema:
                              type: string
                          examples:
                              302Success:
                                  description: 'Successfully reseted profile picture. Redirect to edit authenticated user profile.'
                                  value: '/user/{id}/edit'
                              302Failure:
                                  description: 'Failed to reset profile picture. Redirect to edit authenticated user profile.'
                                  value: '/user/{id}/edit'

  /user/{user_id}/follow:
      put:  
          operationId: R207
          summary: 'R207: Add a Followed Tag'
          description: 'Adds a new followed tag to the current ones. Access: OWN'
          tags:
              - 'M02: Individual Profile'
          requestBody:
              required: true
              content:
                       application/json:
                           schema:
                               type: object
                               properties:
                                   tag:
                                       type: string
                               required:
                                   - tag
          responses:
              '302':
                  description: 'Redirect after adding the new tag.'
                  headers:
                      Location:
                          schema:
                              type: string
                          examples:
                              302Success:
                                  description: 'Tag added to the followed tags sucessfully. Redirect to user profile.'
                                  value: '/user/{id}'
                              302Failure:
                                  description: 'Failed to add a new followed tag. Redirect to login form.'
                                  value: '/user/{id}'
      delete:  
          operationId: R208
          summary: 'R208: Remove a Followed Tag'
          description: 'Removes followed tag to the current ones. Access: OWN'
          tags:
              - 'M02: Individual Profile'
          requestBody:
              required: true
              content:
                       application/json:
                           schema:
                               type: object
                               properties:
                                   tag:
                                       type: string
                               required:
                                   - tag
          responses:
              '302':
                  description: 'Redirect after removing the selected tag.'
                  headers:
                      Location:
                          schema:
                              type: string
                          examples:
                              302Success:
                                  description: 'Tag removed from the followed tags sucessfully. Redirect to user profile.'
                                  value: '/user/{id}'

  /questions:  
      get:  
          operationId: R301
          summary: 'R301: Show questions'
          description: 'Show the questions that contain text equals to the one inputed by the user or shows all of them if nothing was inputed. Access: PUB'
          tags:
              - 'M03: Questions, Answers, Comments'
          parameters:
              - in: query
                name: query
                description: String to use for full-text search
                schema:
                    type: string
                required: false
          responses:
              '200':
                  description: 'Showing questions based on user input'
                  content:
                      application/json:
                          schema:
                              type: array
                              questions:
                                  type: object
                                  properties:
                                      title:
                                         type: string
                                      text:
                                         type: string
                                      timestamp:
                                         type: string
                                      score:
                                         type: int
                                      tags:
                                         type: string
                          required: false
                          examples:
                              200Success:
                                  description: 'Successful search.'
                                  title: 'Accomodation Porto'
                                  text: "Hi! I'll be a student at FEUP for the next semester and I was wondering if anyone can give me some information about accomodation? Is there a residence for Erasmus students?"
                                  timestamp: '2021-04-02 14:10:22'
                                  score: 10
                                  tags: 'Porto Accomodation UP Residence'
                              200Empty:
                                  description: 'No valid questions found.'
                                  title: ''
                                  text: ''
                                  timestamp: ''
                                  score: null
                                  tags:
                                  type: ''
                          

  /questions/ask:  
      get:  
          operationId: R302
          summary: 'R302: Show add question page'
          description: 'Shows the page where the user can insert a new question . Access: USR'
          tags:
              - 'M03: Questions, Answers, Comments'
          responses:
              '200':
                  description: 'Ok. Show [UI03](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2164/-/wikis/er#ui03-ask-a-question)'
      post:  
          operationId: R303
          summary: 'R303: Add a question'
          description: 'Adds a new question. Access: USR'
          tags:
              - 'M03: Questions, Answers, Comments'
          requestBody:
              content:
                  application/x-www-form-urlencoded:
                      schema:
                          type: object
                          properties:
                              title:
                                  type: string
                              body:
                                  type: string
                              photo:
                                  type: string
                                  format: binary
                              tags:
                                  type: string
                          required:
                              - title
                              - body
          responses:
              '302':
                  description: 'Redirect after adding a new question.'
                  headers:
                      Location:
                          schema:
                              type: string
                          examples:
                              302Success:
                                  description: 'Question added sucessfully. Redirect to question page.'
                                  value: '/question/{id}'
                              302Failure:
                                  description: 'Failed to add question. Redirect to add question page.'
                                  value: '/questions/ask'
   
  /question/{id}:  
      get:  
          operationId: R304
          summary: 'R304: View specific question'
          description: 'Show the content of a specific question(votes, comments and answers). Access: PUB'
          tags:
              - 'M03: Questions, Answers, Comments'
          parameters:
              - in: path
                name: id
                schema:
                    type: integer
                required: true
          responses:
          '200':
              description: 'Ok. Show [UI04](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2164/-/wikis/er#ui04-view-question)'
              
      put:  
          operationId: R305
          summary: 'R305 Close question'
          description: 'Close question so that no more answers can be added. Access: QST'
          tags:
              - 'M03: Questions, Answers, Comments'
          requestBody:
              required: true
              content:
                       application/json:
                           schema:
                               id:
                                  type: int
                               required:
                                   - id
          responses:
              '302':
                  description: 'Redirect after closing question.'
                  headers:
                      Location:
                          schema:
                              type: string
                          examples:
                              302Success:
                                  description: 'Closed sucessfully. Redirect to question page.'
                                  value: '/question/{id}'
                              302Failure:
                                  description: 'Failed to close question. Redirect to question page.'
                                  value: '/question/{id}'

      post:  
          operationId: R306
          summary: 'R306 Disassociate self with question'
          description: 'Disassociate self with question. Access: OWN'
          tags:
              - 'M03: Questions, Answers, Comments'
          requestBody:
              required: true
              content:
                       application/json:
                           schema:
                               id:
                                  type: int
                               required:
                                   - id
          responses:
              '302':
                  description: 'Redirect after Disassocition with question.'
                  headers:
                      Location:
                          schema:
                              type: string
                          examples:
                              302Success:
                                  description: 'Disassocited sucessfully. Redirect to question page.'
                                  value: '/question/{id}'
                              302Failure:
                                  description: 'Failed to disassocite with question, question might be available for deletion. Redirect to question page.'
                                  value: '/question/{id}'

      delete:  
          operationId: R307
          summary: 'R307 Delete question'
          description: 'Delete question. Access: OWN'
          tags:
              - 'M03: Questions, Answers, Comments'
          requestBody:
              required: true
              content:
                       application/json:
                           schema:
                               id:
                                  type: int
                               required:
                                   - id
          responses:
              '302':
                  description: 'Redirect after Deletion of question.'
                  headers:
                      Location:
                          schema:
                              type: string
                          examples:
                              302Success:
                                  description: 'Deleted sucessfully. Redirect to home page.'
                                  value: '/aboutUs'
                              302Failure:
                                  description: 'Failed to Delete question, question is only available for disassocition. Redirect to question page.'
                                  value: '/question/{id}'
              
  /question/report_content/{id_content}:  
      put:  
          operationId: R308
          summary: 'R308: Report content'
          description: 'Report a content. Access: USR except OWN'
          tags:
              - 'M03: Questions, Answers, Comments'
          requestBody:
              required: true
              content:
                       application/x-www-form-urlencoded:
                           schema:
                               type: object
                               properties:
                                   reason:
                                       type: string
                               required:
                                   - reason
          responses:
              '302':
                  description: 'Redirect after reporting question.'
                  headers:
                      Location:
                          schema:
                              type: string
                          examples:
                              302Success:
                                  description: 'Content reported sucessfully. Redirect to question page.'
                                  value: '/question/{id}'
                              302Failure:
                                  description: 'Failed to report content. Redirect to question page.'
                                  value: '/question/{id}'
                                  


  /question/{id}/vote:  
      put:  
          operationId: R309
          summary: 'R309: Vote in a question'
          description: 'Vote in a question. Access: USR except OWN'
          tags:
              - 'M03: Questions, Answers, Comments'
          responses:
              '302':
                  description: 'Redirect after voting in question.'
                  headers:
                      Location:
                          schema:
                              type: string
                          examples:
                              302Success:
                                  description: 'Voted sucessfully. Redirect to question page.'
                                  value: '/question/{id}'
                              302Failure:
                                  description: 'Voted unsucessfully, vote might already exist from this user. Redirect to question page.'
                                  value: '/question/{id}'
                                  
      delete:  
          operationId: R310
          summary: 'R310 Delete vote in a question'
          description: 'Delete vote in a question. Access: USR except OWN'
          tags:
              - 'M03: Questions, Answers, Comments'
          responses:
              '302':
                  description: 'Redirect after deleting vote in question.'
                  headers:
                      Location:
                          schema:
                              type: string
                          examples:
                              302Success:
                                  description: 'Removed Vote sucessfully. Redirect to question page.'
                                  value: '/question/{id}'
                              302Failure:
                                  description: 'Could not remove vote, previous vote might not exist from this user. Redirect to question page.'
                                  value: '/question/{id}'


  /question/{id}/answer:  

      put:  
          operationId: R311
          summary: 'R311: Add an answer'
          description: 'Adds an answer to a specific question. Access: USR except QST'
          tags:
              - 'M03: Questions, Answers, Comments'
          requestBody:
              required: true
              content:
                       application/x-www-form-urlencoded:
                           schema:
                               type: object
                               properties:
                                   answer:
                                       type: string
                                   id:
                                       type: int
                               required:
                                   - answer
                                   - id
          responses:
              '302':
                  description: 'Redirect after adding the new answer.'
                  headers:
                      Location:
                          schema:
                              type: string
                          examples:
                              302Success:
                                  description: 'Successfully added answer. Redirect to specific question.'
                                  value: '/question/{id}'
                              302Failure:
                                  description: 'Failed to add answer. Redirect to specific question.'
                                  value: '/question/{id}'

  /question/answer/{id_answer}:  

      post:  
          operationId: R312
          summary: 'R312 Disassociate self with answer'
          description: 'Disassociate self with answer. Access: OWN'
          tags:
              - 'M03: Questions, Answers, Comments'
          requestBody:
              required: true
              content:
                       application/json:
                           schema:
                               id:
                                  type: int
                               required:
                                   - id
          responses:
              '302':
                  description: 'Redirect after Disassocition with answer.'
                  headers:
                      Location:
                          schema:
                              type: string
                          examples:
                              302Success:
                                  description: 'Disassocited sucessfully. Redirect to question page.'
                                  value: '/question/{id}'
                              302Failure:
                                  description: 'Failed to disassocite with answer, answer might be available for deletion. Redirect to question page.'
                                  value: '/question/{id}'

      delete:  
          operationId: R313
          summary: 'R313 Delete answer'
          description: 'Delete answer. Access: OWN'
          tags:
              - 'M03: Questions, Answers, Comments'
          requestBody:
              required: true
              content:
                       application/json:
                           schema:
                               id:
                                  type: int
                               required:
                                   - id
          responses:
              '302':
                  description: 'Redirect after Deletion of answer.'
                  headers:
                      Location:
                          schema:
                              type: string
                          examples:
                              302Success:
                                  description: 'Deleted sucessfully. Redirect to question page.'
                                  value: '/question/{id}'
                              302Failure:
                                  description: 'Failed to Delete answer, answer is only available for disassocition. Redirect to question page.'
                                  value: '/question/{id}'

  /question/answer/{id_answer}/favAnswer:  
      put:  
          operationId: R314
          summary: 'R314: Favorite Answer'
          description: 'Favorite Answer. Acess: QST'
          tags:
              - 'M03: Questions, Answers, Comments'
          requestBody:
              required: true
              content:
                       application/json:
                           schema:
                               type: object
                               properties:
                                   id_answer:
                                       type: int
                                   id:
                                       type: int
                               required:
                                   - id
                                   - id_answer
          responses:
              '302':
                  description: 'Redirect after marking a favorite answer in question.'
                  headers:
                      Location:
                          schema:
                              type: string
                          examples:
                              302Success:
                                  description: 'Favorite sucessfully. Redirect to question page.'
                                  value: '/question/{id}'
                              302Failure:
                                  description: 'Favorite unsucessfully, Favorite might already exist on another answer, please remove it first. Redirect to question page.'
                                  value: '/question/{id}'
              
      delete:  
          operationId: R315
          summary: 'R315 Delete Favorite in a answer'
          description: 'Delete Favorite in a answer. Access: QST'
          tags:
              - 'M03: Questions, Answers, Comments'
          responses:
              '302':
                  description: 'Redirect after deleting Favorite in answer.'
                  headers:
                      Location:
                          schema:
                              type: string
                          examples:
                              302Success:
                                  description: 'Removed Favorite sucessfully. Redirect to question page.'
                                  value: '/question/{id}'
                              302Failure:
                                  description: 'Could not remove Favorite, previous Favorite might not exist from this user on this answer. Redirect to question page.'
                                  value: '/question/{id}'

  /question/answer/{id_answer}/vote:  
      put:  
          operationId: R316
          summary: 'R316: Vote in a answer'
          description: 'Vote in a answer. Access: USR except OWN'
          tags:
              - 'M03: Questions, Answers, Comments'
          requestBody:
              required: true
              content:
                       application/json:
                           schema:
                               type: object
                               properties:
                                   id_answer:
                                       type: int
                                   id:
                                       type: int
                               required:
                                   - id
                                   - id_answer
          responses:
              '302':
                  description: 'Redirect after voting in answer.'
                  headers:
                      Location:
                          schema:
                              type: string
                          examples:
                              302Success:
                                  description: 'Voted sucessfully. Redirect to question page.'
                                  value: '/question/{id}'
                              302Failure:
                                  description: 'Voted unsucessfully, vote might already exist from this user. Redirect to question page.'
                                  value: '/question/{id}'
                                  
      delete:  
          operationId: R317
          summary: 'R317 Delete vote in a answer'
          description: 'Delete vote in a answer. Access: USR except OWN'
          tags:
              - 'M03: Questions, Answers, Comments'
          responses:
              '302':
                  description: 'Redirect after deleting vote in answer.'
                  headers:
                      Location:
                          schema:
                              type: string
                          examples:
                              302Success:
                                  description: 'Removed Vote sucessfully. Redirect to question page.'
                                  value: '/question/{id}'
                              302Failure:
                                  description: 'Could not remove vote, previous vote might not exist from this user. Redirect to question page.'
                                  value: '/question/{id}'

  /question/answer/{id_answer}/comment:  

      post:  
          operationId: R318
          summary: 'R318: Add a comment'
          description: 'Adds a comment to a specific question. Access: USR'
          tags:
              - 'M03: Questions, Answers, Comments'
          requestBody:
              required: true
              content:
                       application/x-www-form-urlencoded:
                           schema:
                               type: object
                               properties:
                                   answer:
                                       type: string
                                   id_answer:
                                       type: int
                                   id:
                                       type: int
                                   id_comment:
                                       type: int
                               required:
                                   - answer
                                   - id
                                   - id_answer
                                   - id_comment
          responses:
              '302':
                  description: 'Redirect after adding the new comment.'
                  headers:
                      Location:
                          schema:
                              type: string
                          examples:
                              302Success:
                                  description: 'Successfully added comment. Redirect to specific question.'
                                  value: '/question/{id}'
                              302Failure:
                                  description: 'Failed to add comment. Redirect to specific question.'
                                  value: '/question/{id}'

  /question/answer/comment/{id_comment}:  

      post:  
          operationId: R319
          summary: 'R319 Disassociate self with comment'
          description: 'Disassociate self with comment. Access: OWN'
          tags:
              - 'M03: Questions, Answers, Comments'
          requestBody:
              required: true
              content:
                       application/json:
                           schema:
                               id:
                                  type: int
                               required:
                                   - id
          responses:
              '302':
                  description: 'Redirect after Disassocition with comment.'
                  headers:
                      Location:
                          schema:
                              type: string
                          examples:
                              302Success:
                                  description: 'Disassocited sucessfully. Redirect to question page.'
                                  value: '/question/{id}'
                              302Failure:
                                  description: 'Failed to disassocite with comment, comment might be available for deletion. Redirect to question page.'
                                  value: '/question/{id}'

      delete:  
          operationId: R320
          summary: 'R320 Delete comment'
          description: 'Delete comment. Access: OWN'
          tags:
              - 'M03: Questions, Answers, Comments'
          requestBody:
              required: true
              content:
                       application/json:
                           schema:
                               id:
                                  type: int
                               required:
                                   - id
          responses:
              '302':
                  description: 'Redirect after Deletion of comment.'
                  headers:
                      Location:
                          schema:
                              type: string
                          examples:
                              302Success:
                                  description: 'Deleted sucessfully. Redirect to question page.'
                                  value: '/question/{id}'
                              302Failure:
                                  description: 'Failed to Delete comment, comment is only available for disassocition. Redirect to question page.'
                                  value: '/question/{id}'
      

  /question/answer/comment/{id_comment}/votes:  
      put:  
          operationId: R321
          summary: '321: Vote in a comment'
          description: 'Vote in a comment. Access: USR except OWN'
          tags:
              - 'M03: Questions, Answers, Comments'
          requestBody:
              required: true
              content:
                       application/json:
                           schema:
                               type: object
                               properties:
                                   id_answer:
                                       type: int
                                   id:
                                       type: int
                                   id_comment:
                                       type: int
                               required:
                                   - id
                                   - id_answer
                                   - id_comment
          responses:
              '302':
                  description: 'Redirect after voting in comment.'
                  headers:
                      Location:
                          schema:
                              type: string
                          examples:
                              302Success:
                                  description: 'Voted sucessfully. Redirect to question page.'
                                  value: '/question/{id}'
                              302Failure:
                                  description: 'Voted unsucessfully, vote might already exist from this user. Redirect to question page.'
                                  value: '/question/{id}'
                                  
      delete:  
          operationId: R322
          summary: 'R322 Delete vote in a comment'
          description: 'Delete vote in a comment. Access: USR except OWN'
          tags:
              - 'M03: Questions, Answers, Comments'
          responses:
              '302':
                  description: 'Redirect after deleting vote in comment.'
                  headers:
                      Location:
                          schema:
                              type: string
                          examples:
                              302Success:
                                  description: 'Removed Vote sucessfully. Redirect to question page.'
                                  value: '/question/{id}'
                              302Failure:
                                  description: 'Could not remove vote, previous vote might not exist from this user. Redirect to question page.'
                                  value: '/question/{id}'

  /question/{id}/edit:  
      post:  
          operationId: R323
          summary: '323: Edit question'
          description: 'Edit question. Access: USR or MOD'
          tags:
              - 'M03: Questions, Answers, Comments'
          requestBody:
              required: true
              content:
                       application/json:
                           schema:
                               type: object
                               properties:
                                   title:
                                       type: String
                                   body:
                                       type: String
                                   tags:
                                       type: String
                               required:
                                   - tags
          responses:
              '302':
                  description: 'Redirect editing question.'
                  headers:
                      Location:
                          schema:
                              type: string
                          examples:
                              302Success:
                                  description: 'Edited sucessfully. Redirect to question page.'
                                  value: '/question/{id}'
                              302Failure:
                                  description: 'Edited unsucessfully. Redirect to question page.'
                                  value: '/question/{id}'
            
  /question/answer/{id_answer}/edit:  
      post:  
          operationId: R324
          summary: '324: Edit answer'
          description: 'Edit answer. Access: USR'
          tags:
              - 'M03: Questions, Answers, Comments'
          requestBody:
              required: true
              content:
                       application/json:
                           schema:
                               type: object
                               properties:
                                   title:
                                       type: String
                                   body:
                                       type: String
                                   tags:
                                       type: String
                               required:
                                   - tags
          responses:
              '302':
                  description: 'Redirect editing answer.'
                  headers:
                      Location:
                          schema:
                              type: string
                          examples:
                              302Success:
                                  description: 'Edited sucessfully. Redirect to question page.'
                                  value: '/question/{id}'
                              302Failure:
                                  description: 'Edited unsucessfully. Redirect to question page.'
                                  value: '/question/{id}'

  /question/answer/comment/{id_comment}/edit:  
      post:  
          operationId: R324
          summary: '324: Edit comment'
          description: 'Edit comment. Access: USR'
          tags:
              - 'M03: Questions, Answers, Comments'
          requestBody:
              required: true
              content:
                       application/json:
                           schema:
                               type: object
                               properties:
                                   title:
                                       type: String
                                   body:
                                       type: String
                                   tags:
                                       type: String
                               required:
                                   - tags
          responses:
              '302':
                  description: 'Redirect editing comment.'
                  headers:
                      Location:
                          schema:
                              type: string
                          examples:
                              302Success:
                                  description: 'Edited sucessfully. Redirect to question page.'
                                  value: '/question/{id}'
                              302Failure:
                                  description: 'Edited unsucessfully. Redirect to question page.'
                                  value: '/question/{id}'

  /reports:  
      get:  
          operationId: R401
          summary: 'R401 Show Report Page'
          description: 'Provide Report Page. Access: MOD'
          tags:
              - 'M04: Reports'
          responses:
               '200':
                   description: 'Ok. Show reports page based on search, if no search show all reports. [UI08](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2164/-/wikis/er#ui08-reports-mod-admin-area)' 

  /reports/treat_report/{id}:  
      delete:
          operationId: R402
          summary: 'R402 Resolve Report'
          description: 'Resolve a Report, whether by ignoring it, deleting the author or deleting the content. Access: MOD'
          tags:
              - 'M04: Reports'
          requestBody:
              required: true
              content:
                       application/json:
                           schema:
                            type: Object
                            properties:
                                action:
                                    type: ReportStatus (enum) except 'pending' value
                                reason:
                                    type: String
                                timestamp:
                                    type: TimeStamp
                            required:
                                - status
                                - reason
                                - timestamp
          responses:
              '302':
                  description: 'Redirect after resolving report.'
                  headers:
                      Location:
                          schema:
                             type: string
                          examples:
                              302Success:
                                  description: 'Successfuly resolved the report based on action. Redirect to reports.'
                                  value: '/reports'
                              302Failure:
                                  description: 'Failed to resolve the report based on action. Redirect to reports.'
                                  value: '/reports'
                      

  /modAppeals:  
       get:
          operationId: R501
          summary: 'R501 Show Mod Appeals Page'
          description: 'Provide Mod Appeals. Access: MOD'
          tags:
              - 'M05: Mod Applications'
          parameters:
                name: query
                schema:
                    type: string
                required: false
          responses:
               '200':
                   description: 'Ok. Show mod appeals page based on search, if no search show all appeals. [UI09](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2164/-/wikis/er#ui09-mod-appeals-mod-admin-area).' 


  /modAppeals/treat_appeal/{id}:  
      post:  
          operationId: R502
          summary: 'R502 Resolve Mod Appeal'
          description: 'Resolve a Report, whether by accepting or rejecting it. Access: MOD'
          tags:
              - 'M05: Mod Applications'
          requestBody:
              required: true
              content:
                       application/json:
                           schema:
                            type: Object
                            properties:
                                action:
                                    type: ModApplicationStatus (enum) except 'pending' value
                                timestamp:
                                    type: TimeStamp
                            required:
                                - status
                                - timestamp
          responses:
              '302':
                  description: 'Redirect after processing the mod appeal.'
                  headers:
                      Location:
                          schema:
                             type: string
                          examples:
                              302Success:
                                  description: 'Successfuly resolved the mod appeal based on action. Redirect to mod appeals.'
                                  value: '/modAppleals'
                              302Failure:
                                  description: 'Failed to resolve the mod appeal based on action. Redirect to mod appeals.'
                                  value: '/modAppleals/'

  /modAppeals/search:  
      post:  
          operationId: R503
          summary: 'R503 Seach User or Mod'
          description: 'Search Username of User or Mod. Access: ADM'
          tags:
              - 'M06: Mods Dashboard'
          requestBody:
              required: true
              content:
                       application/json:
                           schema:
                            type: Object
                            properties:
                                username:
                                    type: String
                            required:
                                - username
          responses:
              '302':
                  description: 'Redirect after processing the search.'
                  headers:
                      Location:
                          schema:
                             type: string
                          examples:
                              302Success:
                                  description: 'Successfuly searched the user. Redirect to modAppeals.'
                                  value: '/modAppeals'
                              302Failure:
                                  description: 'Failed to search the user. Redirect to modAppeals.'
                                  value: '/modAppeals'


  /modsdashboard:  
       get:
          operationId: R601
          summary: 'R601 Show Mods Dashboard Page'
          description: 'Provide Mods Dashboard. Access: ADM'
          tags:
              - 'M06: Mods Dashboard'
          parameters:
                name: query
                schema:
                    type: string
                required: false
          responses:
               '200':
                   description: 'Ok. Show Mods Dashboard page based on search, if no search show all mods. [UI10](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2164/-/wikis/er#ui10-mods-dashboard-admin-area).' 

  /modsdashboard/treat_mod/{id}:  
      post:  
          operationId: R602
          summary: 'R602 Treat Mod'
          description: 'Treat Mod. Access: ADM'
          tags:
              - 'M06: Mods Dashboard'
          requestBody:
              required: true
              content:
                       application/json:
                           schema:
                            type: Object
                            properties:
                                id:
                                    type: int
                                action:
                                    type: String
                            required:
                                - id
                                - action
                            examples:
                                - "Banned"
                                - "Demoted"
                                - "Promoted"
          responses:
              '302':
                  description: 'Redirect after processing the mod treatment.'
                  headers:
                      Location:
                          schema:
                             type: string
                          examples:
                              302Success:
                                  description: 'Successfuly resolved the mod treatment. Redirect to mods dashboard.'
                                  value: '/modsdashboard'
                              302Failure:
                                  description: 'Failed to resolve the mod treatment. Redirect to mod dashboard.'
                                  value: '/modsdashboard'

  /modsdashboard/search:  
      post:  
          operationId: R603
          summary: 'R603 Seach User or Mod'
          description: 'Search Username of User or Mod. Access: ADM'
          tags:
              - 'M06: Mods Dashboard'
          requestBody:
              required: true
              content:
                       application/json:
                           schema:
                            type: Object
                            properties:
                                username:
                                    type: String
                            required:
                                - username
          responses:
              '302':
                  description: 'Redirect after processing the search.'
                  headers:
                      Location:
                          schema:
                             type: string
                          examples:
                              302Success:
                                  description: 'Successfuly searched the user. Redirect to mods dashboard.'
                                  value: '/modsdashboard'
                              302Failure:
                                  description: 'Failed to search the user. Redirect to mod dashboard.'
                                  value: '/modsdashboard'
                                  
      
       
  /aboutUs:  
      get:  
          operationId: R701
          summary: 'R701: View about us page'
          description: 'Show the page about us page. Access: PUB'
          tags:
              - 'M07: Static Pages'
          responses:
              '200':
                  description: 'Ok. Show [UI01](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2164/-/wikis/er#ui01-about-us)'
  /:  
      get:  
          operationId: R702
          summary: 'R702: View home page'
          description: 'Show the home page. Access: PUB'
          tags:
              - 'M07: Static Pages'
          responses:
              '200':
                  description: 'Ok. Show [UI01](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2164/-/wikis/er#ui01-about-us)'
  /404:  
      get:  
          operationId: R703
          summary: 'R703: View 404 page'
          description: 'Show the page not found page. Access: PUB'
          tags:
              - 'M07: Static Pages'
          responses:
              '200':
                  description: 'Ok. Show [UI01](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2164/-/wikis/er#ui01-about-us)'
  /403:  
      get:  
          operationId: R704
          summary: 'R704: View 403 page'
          description: 'Show the user does not have permissions for this content page. Access: PUB'
          tags:
              - 'M07: Static Pages'
          responses:
              '200':
                  description: 'Ok. Show [UI01](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2164/-/wikis/er#ui01-about-us)'
   
